.container {
  width: 100%;
}

.vermelho {
  width: 700px;
  padding: 0px;
  background-color: red;
  margin: 0 auto;
}

.verde {
  width: 700px;
  padding: 25px;
  background-color: green;
  margin: 0 auto;
}